<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" type="text/css" href="/plus/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/public.css"/>
		<script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="/plus/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="/plus/layui/layui.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/webjs/public.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body class="layui-layout-body">
		{{>head}}
		{{{body}}}
		{{>footer}}
	</body>
</html>